﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
    <p>Sistema de Ventas  DIPROMA</p>
</div>
<div class="text-center">
    <img src="~/img/portada.png" alt="ASP.NET" class="img-responsive " />
</div>
